<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xXxSmashMouth4Ever87xXx's Blog</title>
  <link rel="stylesheet" href="../css/radspace.css">
  <link rel="stylesheet" href="../css/radblog.css">
</head>
<body>
  <table id="page" class="blog-page" border="0">
    <tr id="header">
      <td colspan="2"></td>
    </tr>
    <tr>
      <td id="colLeft">
        <table>
          <tr>
            <td id="username"><a href="../radspace.html">xXxSmashMouth4Ever87xXx</a></td>
          </tr>
          <tr>
            <td id="profilepic"></td>
          </tr>
          <tr>
            <td>
              <b>Last Updated:</b>
              <p>Oct 29, 2004</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td><b>Gender:</b> Male</td>
          </tr>
          <tr>
            <td><b>Status:</b> Single</td>
          </tr>
          <tr>
            <td><b>Age:</b> 23</td>
          </tr>
          <tr>
            <td><b>Sign:</b> Aquawsomeis<br/><br/></td>
            
          </tr>
          <tr>
            <td><b>City:</b> Flavortown</td>
          </tr>
          <tr>
            <td><b>City:</b> North Carolina</td>
          </tr>
          <tr>
            <td><b>Country:</b> US<br/><br/></td>
          </tr>
          <tr>
            <td><b>Signup Date:</b> 09/20/03</td>
          </tr>
        </table>
      </td>
      <td id=colRight>
        <table id="blog">
          <tr>
            <td id="blogDate"><b><%= date %></b></td>
          </tr>
          <tr>
            <td id="blogTitle"><b><%= title %></b></td>
          </tr>
          <tr>
            <td id="blogMood"><b>Current Mood: <%= mood %></b></td>
          </tr>
          <tr>
            <td id="blogContent"><%- include(file, data); %></td>
          </tr>
          <tr>
            <td id="listening">
              <img src="../img/<%= listening.art %>"/>
              Currently Listening:<br/>
              <a href="<%= listening.link %>" target="_blank"><%= listening.song %></a><br/>
              By <%= listening.artist %><br/>
              Release Date: <%= listening.released %>
            </td>
          </tr>
          <tr>
            <td><b><%= time %> - 0 Comments - 0 Kudos</b></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>